* {
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  color: hsl(229, 8%, 60%);
  margin-bottom: 100px;
}

.p1 > button {
  padding: 5px 25px;

  background-color: hsl(0, 94%, 66%);
  border: none;
  color: white;
}
.s2container {
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}
.scontainer > p1 {
  display: flex;
  font-size: large;
  font-weight: 600;
  font-style: italic;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.c34 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fon1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn1 {
  padding: 15px 23px 15px 23px;
  background-color: hsl(231, 69%, 60%);
  color: white;

  border: none;
  border-radius: 7px;
}
.btn2 {
  padding: 15px 23px 15px 23px;
  border-radius: 7px;

  border: none;
}

.gt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.tiger {
  width: 550px;
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 145px;
  right: 0;

  border-radius: 34% 0px 0px 34%;
}
.top {
  position: absolute;
  z-index: 1;
}
.gt1 > h1 {
  font-size: xx-large;
}
.gt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 190px;
  margin-right: 190px;
  row-gap: 25px;
  margin-top: 70px;
}
.btnx {
  display: flex;
  column-gap: 30px;

  align-self: flex-start;
}
.clrg {
  color: hsl(229, 8%, 60%);
  font-size: 14px;
  line-height: 20px;
}

.ine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
  row-gap: 34px;
  width: 415px;
  margin-left: 550px;
  margin-right: 550px;
}

.ine1 > p {
  display: flex;
  /* align-self: center;
  justify-self: center; */
  text-align: center;

  color: hsl(229, 8%, 60%);
  font-size: 15px;
  line-height: 22px;
}

.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* place-items: center; */
  margin-top: 40px;
  row-gap: 30px;
  margin-bottom: 80px;
}
.three > .subthree1 {
  display: grid;
  justify-content: flex-end;
  align-content: flex-end;
}

.three > .subthree2 {
  display: grid;
  place-items: center;
}

.imgsid {
  position: relative;
  z-index: 1;
  /* margin-bottom: 90px; */
  /* width: 50%; */
  height: 450px;

}

.lion {
  width: 650px;
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;


  border-radius: 0% 40% 40% 0px;

  bottom: 0;
  left: 0;
}

.imgsid > img {
  position: absolute;
  right: 0;
  z-index: 1;

}
.p2art{
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
 
}
.p2artsub{

  /* width: 50%; */

  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: flex-start;
  justify-items: center;
  row-gap: 25px;
  width: 45%;

  margin-top: 70px;
  margin-right: 200px;

}

.tiger-rt{
  text-align:start;
    color: hsl(229, 8%, 60%);
    font-size: 14px;
    line-height: 22px;
}

.moreinfo{
  padding: 15px 23px 15px 23px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 7px;
}

.p2art>.p2artsub{
  /* align-self:; */
  justify-self: center  ;
  align-items: start;
}
.p3artsub{
  text-align:center;
    color: hsl(229, 8%, 60%);
    font-size: 14px;
    line-height: 22px;
}

.p3art{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin:0 auto;
  margin-bottom: 60px;
}
.p4art{
  width: 300px;
  height: 400px;
  background-color: white;
box-shadow: 0 4px 8px rgb(190, 183, 183);
  /* display: flex;
  flex-direction: column; */
  row-gap: 10px;
  /* flex: 0 0 auto; */
  position: relative;
  /* margin-left: 30px; */
  margin-bottom: 160px;
 

}
.dotted-line {
  border: none;
  border-top: 2px solid transparent;
  background-image: linear-gradient(to right, black 33%, transparent 33%);
  background-size: 10px 1px;

  position: absolute;
    top: 16.6em; /* Adjust this value based on your layout needs */
   
    left: 0;
    right: 0;


}

.p4art>img{
  position: absolute;
  /* text-align: center; */
  right: 6.3em;
 
  top:2.5em;

}

.p4art>h1{
  position: absolute;
  top:7em;
  left:2.8em;
}
.p4art>p{
  position: absolute;
  top:12.6em;
  left:4.7em;
}


.p4art>button{
  position: absolute;
  top:23em;
  left:4.2em;
}

.p4ar4t{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.p4artsub1{
  justify-self: end;
  align-self: start;
  /* height: 600px; */
}
.p4artsub2{
  justify-self:center;
  align-self: center;
}
.p4artsub3{
  justify-self: start;
  align-self: end;
}

.p4ar4t{
  height: 700px;
}

